@function rem($px, $base-font-size: 100px) {
    @return $px / $base-font-size * 1rem;
}
*{ margin: 0 ; padding: 0;}
html,body{ text-align: center; font-family: "microsoft yahei"; width: 100%; height: 100%; background: #333; overflow: hidden;}
body{ text-align: left;}
img{ border: none;}
li{ list-style: none;}
input{ outline: none;}
textarea{ outline: none;}
a{ text-decoration: none;}


$_1:rem(1px);$_2:rem(2px);$_3:rem(3px);$_5:rem(5px);$_8:rem(8px);$_10:rem(10px);$_14:rem(14px);$_16:rem(16px);$_18:rem(18px);$_20:rem(20px);$_22:rem(22px);$_25:rem(25px);
$_26:rem(26px);$_28:rem(28px);$_30:rem(30px);$_35:rem(35px);$_40:rem(40px);$_45:rem(45px);$_50:rem(50px);$_55:rem(55px);$_60:rem(60px);$_70:rem(70px);$_80:rem(80px);$_90:rem(90px);
$_100:rem(100px);

$c_0:#000;$c_1:#111;$c_2:#222;$c_3:#333;$c_6:#666;$c_9:#999;$c_c:#ccc;$c_e:#eee;$c_f:#fff;$c_f00:#f00;

#app{
    width: rem(640px); margin: 0 auto; height: 100%; position: relative; background: $c_f; overflow:hidden;
    img{
        height: 100%; width: 100%; display: block;
    }
    header{
        height: $_90; padding-top: $_30; padding-bottom: $_70; display: flex; justify-content: space-around; width: 100%; position: relative; background: url(../img/hd_bg.jpg) no-repeat; background-size: cover; position: relative;
        .header_bg{
            position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: $c_3; opacity: 0.6; z-index: 1;
        }
        .logo{
            height: $_90; margin: 0 $_35; width: $_90; background:$c_3; border-radius: $_8; z-index: 9;
        }
        ul{
            height: auto; flex: 1; z-index: 9;
            li{
                height: auto; width: 100%;
                i{
                    float: left; height: $_25; width: auto; padding: $_5; padding-left: 0;
                    img{
                        width: auto;
                    }
                }
                span{
                    padding: 0 $_3;
                }
            }
            li:nth-child(1){
                font-size: $_22; color: $c_f; font-weight: 600; line-height: $_35;
            }
            li:nth-child(2){
                font-size: $_18; color: $c_e;  line-height: $_30;
            }
            li:nth-child(3){
                i{
                   height: $_18; 
                }
                font-size: $_14; color: $c_e;  line-height: $_30;
            }
        }
        .notice{ 
            position: absolute; bottom: 0; left: 0; height:$_40; width: 100%; line-height: $_40; color: $c_e; z-index: 9; 
            .notice_bg{
                position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: $c_3; opacity: 0.8; z-index: -1;
            }
            .notice_img{
                position: absolute; left: $_14; top: $_10; height: $_20; width: auto;
                img{
                    width: auto;
                }
            }
            dl{
                display: flex; height: auto; width: 100%; flex-wrap: wrap; position: relative;
                dd{
                    display:block; padding-left: 10%; height:$_40; width: 90%; font-size: $_14; position: relative;
                    span{
                        float: right; height: $_40; width: auto; padding: 0 $_5; line-height: $_40; cursor: pointer;
                    }
                    
                }
            }
            
        }
        .gg_tc{
            position:fixed; left: 50%; top: 0; height:$_1; width: $_2; z-index: 999;
            .gg_tc_{
                position: absolute; left: rem(-320px); top: 0; height:auto; width: rem(640px); overflow: hidden;
               .gg_tc_bg{
                   position: absolute; left: 0; top: 0; width: 100%; height: 100%; background:$c_0 ; opacity: 0.9; z-index: -1;
               }
               .gg_tc_hide{
                    width: 100%; padding-top:$_60; 
                   p{
                     width: $_60; height: $_60; border:$_1 solid $c_e; border-radius: $_30;  color: $c_e; font-size: $_40; text-align: center; margin: 0 auto;
                   line-height: $_55; cursor: pointer;
                   }
                   
               }
               .gg_tc_nr{
                   height: auto; width: 80%; margin: 0 auto; padding: $_20 0;
                   p{
                       height: auto; line-height: $_50; width: 100%; font-size: $_20; color: $c_e; text-align: center;
                   }
                   span{
                      display: block; height: $_30; width: 100%; line-height: $_30; font-size: $_16; color: $c_c; text-align: center;
                   }
                   div{
                       height: rem(300px); width: 100%; line-height: $_26; font-size: $_16; color: $c_e; overflow-y: auto;
                   }
               }
            }
            
        }
        
    }
    .scroll_by::-webkit-scrollbar{
        width:4px;
        height:4px;
    }
    .scroll_by::-webkit-scrollbar-track{
        background: #f6f6f6;
        border-radius:2px;
    }
    .scroll_by::-webkit-scrollbar-thumb{
        background: #aaa;
        border-radius:2px;
    }
    .scroll_by::-webkit-scrollbar-thumb:hover{
        background: #747474;
    }
    .scroll_by::-webkit-scrollbar-corner{
        background: #f6f6f6;
    }
    .tab{ 
        width: 100%; display: flex; height: rem(71px); text-align: center; background: $c_f;
        li{ 
            flex: 1; height: $_70;
            a{ 
                display: block; width: 100%; height: 100%; line-height: $_70; font-size: $_25; text-align: center; color: $c_1; border-bottom: $_1 solid $c_e;
            }
            a.router-link-active{ border-bottom: $_1 solid $c_f00; color: $c_f00;}
            a.router-link-exact-activ{ color: #42B983;}
        }
    }
    .content{
        width: 100%; overflow:hidden;
    }
    .goods{
        width: 100%; height: 100%; display: flex; position: relative; overflow:hidden;
        .goods_bg{
           position: fixed; left: 0; top: 0; width: 100%; height: 1200px; background: $c_0; opacity: 0.6; z-index: 99;
        }
        .goods_cp_show{
            position: fixed; left: 50%; top: 0; width: $_1; height: 100%; z-index: 990;
            .goods_cp_show_{
                position: absolute; left: rem(-320px); top: 0; width: rem(640px); height: 100%;
                .goods_cp_show_bg{
                    position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: $c_0; opacity: 0.9; z-index: -1;
                }
                .goods_cp_show_nr{
                    height: 100%; width: 100%;
                    .goods_cp_hide{
                        height: 5%; width: 100%; background: $c_f; border-bottom: $_1 solid $c_e;
                        p{
                            width: $_30; height: $_30; text-align: center; border-radius: 100%; color: $c_6; line-height: $_26; font-size: $_30; cursor: pointer;
                        }
                    }
                    .goods_cp_detail{
                        height: 93%; padding-top:2%; width: 100%; overflow: auto; background: $c_f;
                        .goods_cp_detail_img{
                            width: 96%; height: rem(300px); margin: 0 auto; background: #333; overflow: hidden; border-radius: $_16;
                            img{
                                width: 100%; height: auto;
                            }
                        }
                        .goods_cp_detail_bt{
                            height: $_60; width: 92%; margin: 0 auto; line-height: $_60; font-size: $_26; border: none;
                        }
                        .goods_cp_detail_num{
                            height: $_30; line-height: $_30; width: 92%; margin: 0 auto; font-size: $_16;
                            span{
                                display: inline-block; width: auto; padding: 0 $_8;
                            }
                        }
                        .goods_cp_detail_price{
                            height: $_40; width: 92%; margin: 0 auto; line-height: $_40; font-size: $_22; border: none; color: $c_f00; font-weight: 600;
                        }
                    }
                }
            }
        }
        ul{
            width: 30%; height: 100%; overflow: auto; padding-bottom: rem(300px);
            li{
                height: $_70; width: 100%; line-height: $_70; font-size: $_20;
                p{
                    width: 80%; margin: 0 auto; height: auto; line-break: $_25; vertical-align: middle; border-bottom: $_1 solid $c_e;
                }
            }
        }
        .goods_list{
            flex: 1; height: 100%; overflow: auto;
            dl{ 
                width: 100%; height: auto; background: $c_f;
                dt{
                    height: $_40; line-height: $_40; font-size: $_16; background: $c_e; clear: both; text-indent: $_16;
                    
                }
                dd{
                    font-size: $_16; height: auto; width: 90%; padding: $_16 0; margin: 0 auto; clear: both; display: flex; justify-content:space-around; border-bottom: $_1 solid $c_e;
                    .cp_img{
                        height: $_100; width:$_100; background: $c_9; border-radius: $_8;
                        img{
                            width: 100%; height: 100%;
                        }
                    }
                    .cp_ms{
                        flex: 1; padding-left: $_16; position: relative;
                        p{
                            height: $_30; line-height: $_30; font-size: $_20; color: $c_1;
                        }
                        span{
                            display: block; height: $_25; line-height: $_25; font-size: $_14; color: $c_9;
                            i{
                                font-style: normal; 
                            }
                            i:nth-child(1){ color: $c_f00; font-size: $_22; font-weight: 600;}
                            i:nth-child(2){ text-decoration: line-through;}
                        }
                        .jiajian{
                            position: absolute; right: $_10; bottom: -$_5; width: auto; height: $_30; line-height: $_30; text-align: center; display: flex; justify-content: space-between;
                            .jiajian_{
                               display:inline-flex; width: $_60; justify-content: space-between;
                            }
                            label:nth-child(1),label:nth-child(2){
                               display: inline-block; height: $_20; width: $_20; border-radius: 100%; border:$_1 solid #f47433; line-height: $_16; font-size: $_20; cursor: pointer;
                            }
                            .jiajian_jian{
                               background:none; color: #f47433;
                            }
                            .jiajian_jia{
                               background:#f47433; color: #fff;
                            }
                            p{
                               display: inline-block; width: $_30; height: $_30; line-height: $_22; font-size: $_16; margin: 0 $_3; color: #666; text-align: center;
                            }
                        }
                    }
                }
            }            
        }
        .goods_total{
            position: fixed; left: 50%; bottom: 0; width: $_2; height: $_2; z-index: 991;
            dl{
                position: absolute; left: rem(-320px); bottom: 0; padding-bottom: $_30; width: rem(640px); height: auto; z-index: 999; background:$c_f;
                border-top-left-radius: $_20; border-top-right-radius: $_20; overflow: hidden;
                div{
                    padding-bottom: $_60;
                }
                dd{
                    height: $_40; width: 90%; margin: 0 auto; line-height: $_40; display: flex; justify-content: space-between; 
                    border-bottom: $_1 solid $c_e;
                   p:nth-child(1){
                      width: 40%;  font-size: $_20; text-indent: $_16;
                   }
                   p:nth-child(2){
                      width: 30%; font-size: $_26; color: #f00; text-align: center;
                   }
                   p:nth-child(3){
                      width: 30%; font-size: $_20; padding: $_5 0; display: inline-flex; justify-content: center;
                       label{
                          display: block; height: $_28; width: $_28; font-size: $_26; background: #f47433; color: #fff; border-radius: 100%; 
                          line-height: $_25; text-align: center; cursor: pointer; border:$_1 solid #f47433;
                       }
                       label:nth-child(1){
                           background:none; color: #f47433;
                       }
                       span{
                          width: 30%; height: $_28; line-height: $_28; font-size: $_18; margin: 0 $_3; color: #666; text-align: center;
                       }
                   }  
                }
                dt{
                    height: $_30; width: 100%; text-align: center; background: #f47433; color: #fff; line-height: $_30; font-size: $_16;
                    border-top-left-radius: $_16; border-top-right-radius: $_16; border: none; opacity: 0.8;
                    span{
                        padding: 0 $_5;
                    }
                }
                .goods_total_dl_dt_ys1{
                     width: rem(550px); margin: 0 auto; height: $_60;
                }
                .goods_total_dl_dt_ys2{
                     width: 100%;
                }
            }
            .goods_total_{
                position: absolute; left: rem(-275px); bottom: 0; width: rem(550px);  height: $_60; border-radius: $_30; display: flex; justify-content: space-between; z-index: 999;
                background:#a1a1a1; align-items: center;
                .goods_total_bg_l{
                    position: absolute; left: 0; bottom: 0; width: 70%; height: 150%; z-index: 999;
                }
                .goods_total_bg_r{
                    position: absolute; right: 0; bottom: 0; width: 30%; height: 150%; z-index: 999;
                }
                p{
                    cursor: pointer;
                }
                p:nth-child(1){
                    width: $_60; height: $_60; cursor: pointer; margin-left: $_30; position: relative;
                    img{
                       position: absolute; left: 0; top: -$_20; width: $_80; height: $_80; z-index: 8; background: #333;
                       border-radius: $_40;
                    }
                }
                p:nth-child(2){
                   height: $_60; line-height: $_60; flex: 1; text-align: center; font-size: $_20; background:#a1a1a1; 
                }
                input{
                   height: $_60; line-height: $_60; width: 30%; text-align: center; font-size: $_22; border-top-right-radius: $_30; 
                   border-bottom-right-radius: $_30; border: none; cursor: pointer;
                }
                .goods_total_ys1{
                    background:#f47433; color: $c_f;
                }
                .goods_total_ys2{
                    background:#a1a1a1; color: $c_3;
                }
            } 
        }
        
    }
    .ratings{
        width: 100%; height: 100%; padding: $_20 0; background: $c_e; overflow: auto;
        .ratings_top{
            width: 100%; margin: 0 auto; height: $_100; background: $c_f; margin-bottom: $_16;
            ul{
                width: 96%; height: $_80; padding: $_10 0; display: flex;
                li{
                    height: $_80; width: auto;
                    &:nth-child(1),&:nth-child(3){
                        width: 25%; height:$_80; text-align: center;
                        p{
                            width: 100%; height: $_50; line-height: $_50; font-size: $_26; color: $c_6;
                        }
                        span{
                            display: block; height: $_30; line-height: $_30; font-size: $_18; color: $c_6;
                        }
                    }
                    &:nth-child(2){
                        flex: 1; height: $_60; padding: $_10 0; border-right: $_1 solid $c_c;
                        p{
                            height: $_20; line-height: $_20; padding: $_5 0; width: 100%;
                            i{
                                float: left; height: $_20; width: auto; position: relative; z-index: 9; margin-right:$_5; font-style: normal;  font-size: $_16;
                                img{
                                    height: 100%; width: auto;
                                }
                                &:nth-child(2) .ratings_top_star{
                                    display: block; position: absolute; left: 0; top: 0; width: 100%; height: $_20; content: ''; z-index: -1;
                                    div{
                                        background: #f90; height: $_20; 
                                    }
                                }
                            }                            
                            
                            span{
                                float: right; height: 100%; width: $_80; font-size: $_16; color: $c_f00;
                            }
                        }
                    }
                }
                
            }
        }
        .ratings_nr{
            width: 94%; margin: 0 auto; height: auto; padding: $_30 3%; background: $c_f;
            ul{
                width: 100%; height: auto;
                li{
                    display: flex; width: 100%; height: auto; justify-content: space-between; border-bottom: $_1 solid $c_e; padding: $_20 0;
                    .ratings_l{
                        width: 15%; height: auto;
                        img{
                            width: 80%; height: auto; border-radius: 100%; background: $c_e;
                        }
                    }
                    .ratings_r{
                        height: auto; width: 85%; clear: both;
                        span{
                            float: right; width: 20%; height: $_30; line-height: $_30; font-size: $_14; color: $c_6;
                        }
                        p{
                            display: block; height: auto; width: 80%; height: $_30; line-height: $_30;
                        }
                        p:nth-child(2){
                            font-size: $_22; color: $c_1; font-weight: 500;
                        }
                        p:nth-child(3){
                            height: $_40; line-height: $_30; font-size: $_22; color: $c_1;
                            i{
                               display:inline-block; height:$_30; width:$_30; padding-top: $_5;
                            }
                        }
                        .ratings_nr_nr{
                            width: 96%; clear: both; height: auto; margin: 0 auto; font-size: $_18; color: $c_3;
                        }
                    }
                }
            }
        }
    }
    .seller{
        width: 100%; height: 100%; padding: $_20 0; background: $c_e; overflow: auto;
        .zz_show{
            position: fixed; left: 50%; top: 0; height: 100%; width: $_1; z-index:999;
            .zz_show_{
                position: absolute; left: rem(-320px); top: 0; width: rem(640px); height: 100%;
                .zz_show_bg{
                    position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: $c_0; opacity: 0.93;
                }
                dl{
                    width: 90%; height: 100%; margin: 0 auto; padding: 0 1%; display: flex; flex-wrap: wrap; justify-content:space-between; overflow: auto; position: relative;
                    dt{
                        width: 100%; height: $_50; line-height: $_50; color: $c_e; margin-bottom: $_10; font-size: $_22;
                        &:after{
                            display: block; width: $_50; height: $_50; content: '×'; font-size: $_35; line-height: $_45; text-align: center; float: right;
                        }
                    }
                    dd{
                        width: 48%; height: rem(300px); background: $c_e; border-radius: $_10; margin-bottom: $_20;
                    }
                }
            }
        }
        >ul{
            width: 100%; height: auto;
            li{
                width: 100%; height: $_50; padding: $_16 0; background: #fff; margin-bottom: $_20; border-bottom: none; font-size: $_20; line-height: $_50; display: flex;
                &:nth-child(odd){
                    margin-bottom: 0;  border-bottom: $_1 solid $c_e;
                }
                &:nth-last-child(1){
                    margin-bottom: 0;
                }
                i{
                   display: block; width: $_40; height: $_40; margin:$_5; margin-left: $_10; 
                }
                p{
                    flex: 1; color: $c_2;
                }
                a{
                    display: block; width: $_50; height: $_50; margin: 0 $_20; cursor:pointer; 
                }
                &:nth-child(1){
                    p{
                        border-right: $_1 solid $c_e;
                    }
                    
                }
                &:nth-child(2){
                    cursor: pointer;
                    p{
                        border-right: $_1 solid $c_e;
                        &:after{
                            display: block; float: right; height: $_50; width: $_50; content: '〉'; text-align: center; line-height: $_50; font-size: $_16;
                            color: $c_6;
                        }
                    }                    
                }
            }
        }
    }
    footer{
        height: $_100; width: 100%; text-align: center; line-height: $_100; font-size: $_16;
    }
}
@media only screen and (max-width: 640px) {
    #app{
        width: 100%;
    }
}